name: Node.js CI
'on':
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: null
jobs:
 # Build---------------------------------------------------------------------------------------
  build:
    name: Build & Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 22.x
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '${{ matrix.node-version }}'
            
      - name: Install dependencies
        run: npm ci
        
      - name: Run test script
        run: npm test
         # Snyk---------------------------------------------------------------------------------------
  snyk-scan:
    name: Snyk Security Scan
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install dependencies for scanning
        run: npm ci
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: '${{ secrets.SNYK_TOKEN }}'
        with:
          args: '--sarif-file-output=snyk-results.sarif'
      - name: Upload Snyk scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: snyk-results.sarif
